<%  include ./partials/header %>

<body>

        
<!--content-->
<h1><center>About-Us</center></h1>

<div class="content">
    <div class="row">
        <div class="col-sm-2" style="margin-left: 50px; margin-right: 120px;">
            <img src="last-old.jpg" alt="picture" align="left" height="300px" width="300px">
        </div>
        <div class="col-sm-8" style="margin-right: 10px;">
            <p>
                Make My Mini, as per the name we are in business of creating the Personalized and Customized Miniatures for your Special day, Special Occasion, Festivals. Trust us this 3D Miniatures can give you a new way to represent your brand, product and Human Sculptures. Currently 3D printing technology is giving its best in all the industrial sector and we (Make My Mini) as a very small part of this technology happy to share with you that we are working in every possible section where we can help Society with our best effort. At present we are working in Architecture, Automobile, Interior, Electronics, Anatomy, Weapons, Sports and Human Sculpturing. These miniatures are specially personalized according to the needs and demands of the customers. The miniatures are handy and tr endy too which attracts the eyes of the visitors. You can keep these miniatures as an attractive show piece at your homes, showcase it in your office or can gift it as a birthday gift or lucky charm to your dear or near ones.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8" style="margin-left: 50px;">
            <p>
                In simple words, we bring images to life. Our goal is to bring smile on your face when you unwrap our products. We are makemymini.com, we design and create 3dMiniatures, Mini Models of you and your loved ones. 3D selfies or 3d Miniature are the toy version of you that you can physically hold in your hand. Be it your pet, your loved ones or yourself, we make sure that our products bring the joy and create an everlasting memory. We are a group of young dynamic people who love to convert your images/photos into life-like Miniature made of 3Dprinting with ABS & PLA Material. We love doing what we do as we know our products can make a difference in your life, in your relationships and more. Order your Miniature for yourself or gift it to your loved ones; 3D Miniature is the unique gifts you could ever think of.
            </p>
        </div>
        <div class="col-sm-2">
            <img src="WhatsApp-Image-2018-05-23-at-14.13.18-300x300.jpeg" alt="picture" height="300px" width="300px" style="margin-right: 10px;">
        </div>
    </div>
</div>
</body>




<%  include ./partials/footer %>

