<%  include ./partials/header %>

<section class="slider">
    <div class="container-fluid">
        <div class="row">
            <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                <!-- Overlay -->
                <div class="overlay"></div>
              
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#bs-carousel" data-slide-to="1"></li>
                  <li data-target="#bs-carousel" data-slide-to="2"></li>
                  <li data-target="#bs-carousel" data-slide-to="3"></li>
                  <li data-target="#bs-carousel" data-slide-to="4"></li>
                </ol>
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item slides active">
                    <div class="slide-1"><img src="images/sliderimg1.jpg"></div>
                    <div class="hero">
                      <hgroup>
                          <h2>SHOP THE LATEST GIFTS</h2>        
                      </hgroup>
                    </div>
                  </div>
                  <div class="item slides">
                    <div class="slide-2"><img src="images/sliderimg5.png"></div>
                    <div class="hero">        
                      <hgroup>
                          <h2>SPECIAL MINIATURE FOR SPECIAL ONES</h2>        
                      </hgroup>       
                    </div>
                  </div>
                  <div class="item slides">
                    <div class="slide-3"><img src="images/sliderimg3.jpg"></div>
                    <div class="hero">        
                      <hgroup>
                          <h2>BEST MARRIAGE GIFTS FOR YOYR PARTNER</h2>        
                      </hgroup>
                    </div>
                  </div>
                  <div class="item slides">
                    <div class="slide-4"><img src="images/sliderimg4.jpg"></div>
                    <div class="hero">        
                      <hgroup>
                          <h2>SPECIAL MINIATURE FOR SPECIAL ONES</h2>        
                      </hgroup>       
                    </div>
                  </div>
                  <div class="item slides">
                    <div class="slide-5"><img src="images/sliderimg5.png"></div>
                    <div class="hero">        
                      <hgroup>
                          <h2>BEST GIFTS FOR COUPLES ON THEIR WEDDING</h2>        
                      </hgroup>       
                    </div>
                  </div>
                </div> 
              </div>
        </div>
    </div>
</section>
<section class="content1">
    <div class="container-fluid">
        <div class="heading text-center" >
            <h3 style="font-family: 'Marcellus SC', serif; font-weight: bolder;">YOU SEND US A PHOTO, WE SEND YOU A 3D SELFIE</h3>
            <h5>Getting a 3d Miniature/ selfie is super easy! Please follow the instructions below:</h5>
         </div>
        <div class="row">
            <div class="sub-content1">
            <div class="col-md-3">
                    <h4 >SEND US YOUR PHOTOS</h4><br>
                    <p>Take several photos of yourself. One photos have to be exactly in a Pose you would
                            Like to Miniature. One frontal image, left view, right view and whole body. You just 
                            need to send us 4 high quality photos. Or Upload your photos when you are ordering your
                            Miniature.
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 style="font-family: 'Kaushan Script', cursive;text-align:center;">WE REVIEW YOUR PHOTOS</h4><br>
                    <p>Take several photos of yourself. One photos have to be exactly in a Pose you would
                            Like to Miniature. One frontal image, left view, right view and whole body. You just 
                            need to send us 4 high quality photos. Or Upload your photos when you are ordering your
                            Miniature.
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 style="font-family: 'Kaushan Script', cursive;text-align:center;">WE MODEL IT</h4><br>
                    <p>Take several photos of yourself. One photos have to be exactly in a Pose you would
                            Like to Miniature. One frontal image, left view, right view and whole body. You just 
                            need to send us 4 high quality photos. Or Upload your photos when you are ordering your
                            Miniature.
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 style="font-family: 'Kaushan Script', cursive;text-align:center;"> TIME TO PRINT</h4><br>
                    <p>Take several photos of yourself. One photos have to be exactly in a Pose you would
                            Like to Miniature. One frontal image, left view, right view and whole body. You just 
                            need to send us 4 high quality photos. Or Upload your photos when you are ordering your
                            Miniature.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="content2">
    <div class="container-fluid text-center">
        <div class="heading">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                    <h2 style="font-family: 'Marcellus SC', serif; font-weight: bolder;">BECOME AN AFFILIATE</h2>
                    <h4>Having an good audience on social media profile and have an enthusiasm to do some trending & 
                        creative work, then become our affiliate.</h4>
                        <button type="default" class="btn">Apply Now</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
</section>
<section class="reviews">
    <div class="container-fluid text-center">
        <h3 style="letter-spacing:5px;margin-top:30px;"><b>LATEST REVIEWS</b></h3>
        <div class="row">
            <div class="people-review">
                <div class="col-md-4">
                    <img src="images/person3.jpg" width="88px" height"86px" alt="">
                    <h5><i>
                            I got my “3D miniature” for MakeMyMini and Loved It.
                             The Exact replica of 4″ Size was Really great. Well Done MakeMyMini ! Well Done…

                        </i>
                        <b>Dilip Joshi</b>/ Rajsamad, Rajasthan        
                    </h5>
                </div>
                <div class="col-md-4">
                        <img src="images/person2.jpg" width="88px" height"86px" alt="">
                    <h5><i>
                            I got my “3D miniature” for MakeMyMini and Loved It.
                                The Exact replica of 4″ Size was Really great. Well Done MakeMyMini ! Well Done…

                        </i>
                        <b>Dilip Joshi</b>/ Rajsamad, Rajasthan        
                    </h5>
                </div>
                <div class="col-md-4">
                        <img src="images/person1.png" width="88px" height"86px" alt="">
                    <h5><i>
                            I got my “3D miniature” for MakeMyMini and Loved It.
                                The Exact replica of 4″ Size was Really great. Well Done MakeMyMini ! Well Done…

                        </i>
                        <span style="margin-top:20px;"><b>Dilip Joshi</b>/ Rajsamad, Rajasthan </span>       
                    </h5>
                </div>
            </div>
        </div>

    </div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="js/bootstrap.js"></script>  
<script src="js/mystyle.js"></script> 

<%  include ./partials/footer %>
