<%  include ./partials/header %>


<style>
    img{
    	height: 100%;
    	width: 100%;
    }
    a:link {
  		color: #334862;;
  		background-color: transparent;
  		text-decoration: none;
	}
	a:visited {
  		color: #334862;;
  		background-color: transparent;
  		text-decoration: none;
	}
	a:hover {
  		color: black;
  		background-color: transparent;
  		text-decoration: none;
	}
    .productrow{
    	margin-right: 0px;
    	margin-left: 0px;
    	margin: 10px 125px 0px 125px;
    }
    .top{
    	padding: 100px 165px 100px 165px;
    	margin: 0px;
    	background-color: #f4511e;
    	text-align: center;
    }
    .btn{
    	background-color: #f4511e;
    	color: #fff;
    	clear: left;
    }
    .btn:hover{
    	background-color: #fff;
    	color: #f4511e;
    	border: 1px solid #f4511e;
    }
    .headding{
    	text-align: center;
    	margin: 50px 0px;
    }
    .panel {
    		border: 1px solid #f4511e; 
   			border-radius:0;
		}
	.term-description{
		margin: 20px 125px 50px 125px;
		display: block;
		color: #777;
		line-height: 1.6;
		font-size: 115%;
	}

  </style>
</head>
<body>

<div class="container-fluid" style="padding: 0px;">
  <!-- <div class="top">
  	<h1 style="color: #fff; font-size: 50px;">3D MINIATURE / REPLICA DOLL</h1>
  </div> -->
  <div class="headding">
  	<h1>Our Products</h1>
  </div>
  <div class="productrow">
  	<div class="row">
    	<div class="col-sm-3">
    		<div class="panel panel-default text-center">
    		<a href="#"><img src="fw1.jpeg" alt="Image 1" style="height: 40%"</a>
    		<div>
    			<h5 style="font-size: 110%"><strong>3D MINIATURE / REPLICA DOLL</strong></h5>
    			<a href="#"><p style="padding: 0px 10px;">Couple 3D miniature / 3D Full Body Replica Doll / 3D figurine / 3d Selfie / Couple Caricature</p></a>
    			<p style="font-size: 150%">₹6,999.00</p>
    			<a href="#"><button type="button" class="btn" style="margin: 0px 20px">ADD TO CART</button></a>
    			<a href="#"><button type="button" class="btn" style="margin: 10px 20px">PAY DEPOSIT</button></a>
    		</div>
    		</div>
    	</div>
    	<div class="col-sm-3">
    		<div class="panel panel-default text-center">
    		<a href="#"><img src="fw2.jpg" alt="Image 2" style="height: 40%"></a>
    		<div>
    			<h5 style="font-size: 110%"><strong>3D MINIATURE / REPLICA DOLL</strong></h5>
    			<a href="#"><p style="padding: 0px 10px;">Couple Bust Model</p></a><br><br>
    			<p style="font-size: 150%">₹6,500.00</p>
    			<a href="#"><button type="button" class="btn" style="margin: 0px 20px">ADD TO CART</button></a>
    			<a href="#"><button type="button" class="btn" style="margin: 10px 20px 10px">PAY DEPOSIT</button></a>
    		</div>
    		</div>
    	</div>
    	<div class="col-sm-3">
    		<div class="panel panel-default text-center">
    		<a href="#"><img src="fw3.jpg" alt="Image 3" style="height: 40%"></a>
    		<div>
    			<h5 style="font-size: 110%"><strong>3D MINIATURE / REPLICA DOLL</strong></h5>
    			<a href="#"><p style="padding: 0px 10px;">Doctor 3D Replica Dolls | Best Gift for Doctors</p></a><br>
    			<p style="font-size: 150%">₹3,999.00</p>
    			<a href="#"><button type="button" class="btn" style="margin: 0px 20px">ADD TO CART</button></a>
    			<a href="#"><button type="button" class="btn" style="margin: 10px 20px">PAY DEPOSIT</button></a>
    		</div>
    		</div>
    	</div>
    	<div class="col-sm-3">
    		<div class="panel panel-default text-center">
    		<a href="#"><img src="fw4.jpg" alt="Image 4" style="height: 40%"></a>
    		<div>
    			<h5 style="font-size: 110%"><strong>3D MINIATURE / REPLICA DOLL</strong></h5>
    			<a href="#"><p style="padding: 0px 10px;">Single 3D miniature / 3D Replica Doll / 3D figurine / 3d Selfie Full Body</p></a>
    			<p style="font-size: 150%">₹3,999.00</p>
    			<a href="#"><button type="button" class="btn" style="margin: 0px 20px">ADD TO CART</button></a>
    			<a href="#"><button type="button" class="btn" style="margin: 10px 20px">PAY DEPOSIT</button></a>
    		</div>
    		</div>
    	</div>
  	</div>
  </div>
  <div class="productrow">
	<div class="row">
	    <div class="col-sm-3">
	    	<div class="panel panel-default text-center">
    		<a href="#"><img src="fw5.jpeg" alt="Image 5" style="height: 40%"></a>
    		<div>
    			<h5 style="font-size: 110%"><strong>3D MINIATURE / REPLICA DOLL</strong></h5>
    			<a href="#"><p style="padding: 0px 10px;">Single Bust 3D miniature / 3D Replica Doll / 3D figurine / 3d Selfie -Bust Model</p></a>
    			<p style="font-size: 150%"> ₹3,499.00</p>
    			<a href="#"><button type="button" class="btn" style="margin: 0px 20px;">ADD TO CART</button></a>
    			<a href="#"><button type="button" class="btn" style="margin: 10px 20px">PAY DEPOSIT</button></a>
    		</div>
    		</div>
    	</div>
	</div>
  </div>
  <div class="term-description">
  	<p> "INTRODUCING MAKE MY MINI 3D MINIATURE / 3D SELFIE MINIATURES!"
  		<br>
  		"Make My Mini Convert your 2D picture into a beautiful 3D replica doll / 3D Miniature & has the perfect solution for your gifting ideas. We are one of the most searched 3D miniature company on Google."
    </p>
    <p>"Your 3D miniature / Replica doll is just clicking away! Send us your 2D Image and we’ll convert it into 3D replica doll. Surprise your loved ones with beautiful 3D figurines"</p>
  </div>
</div>

<%  include ./partials/footer %>
